﻿@using InternetStoreViewer.Models
@model IEnumerable<Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    _G
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            @if (true)
            {
                <div>
                    <img class="#" @*src="@Url.Action("GetImage","Product", )"*@/>
                </div>
            }
            <div>
                <span class="display-label">
                    @Html.LabelFor(model => item.Name)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.Name)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.LabelFor(model => item.Category)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.Category)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.LabelFor(model => item.Description)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.Description)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.LabelFor(model => item.Price)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.Price)
                </span>
            </div>
        }

    </div>
</body>
</html>