﻿@using InternetStoreViewer.Models
@model Site

<body>
    @using (Html.BeginForm("Create", "Site", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)


        <div class="row">
            <div style="margin: 50px;" class="col-8">
                <span>
                    @Html.LabelFor(model => model.SiteUrl)
                </span>
                <span>
                    @Html.EditorFor(model => model.SiteUrl)
                    @Html.ValidationMessageFor(model => model.SiteUrl)
                </span>

            </div>
            <p>
                <input type="submit" value="Parsing" />

            </p>
        </div>
    }
</body>


